[Unit]
Description="Guerillabackup backup generator service"
Documentation=man:gb-backup-generator(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gb-backup-generator
Restart=always

[Install]
WantedBy=multi-user.target
