[Unit]
Description="Guerillabackup data transfer service"
Documentation=man:gb-transfer-service(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gb-transfer-service
Restart=always

[Install]
WantedBy=multi-user.target
