# LogFileBackupUnit configuration template

# This list contains tuples with five elements per logfile backup
# input. The meaning of each value is:
# * Input directory: absolute directory name to search for logfiles.
# * Input file regex: regular expression to select compressed
#   or uncompressed logfiles for inclusion. When the regex contains
#   a named group "oldserial", a file with empty serial is handled
#   as newest while file with largest serial value is the oldest.
#   With named group "serial", oldest file will have smallest
#   serial number, e.g. with date or timestamp file extensions.
#   When a named group "compress" is found, the match content,
#   e.g. "gz" or "bz2", will be used to find a decompressor and
#   decompress the file before processing.
# * Source URL transformation: If None, the first named group
#   of the "input file regex" is appended to the input directory
#   name and used as source URL. When not starting with a "/",
#   the transformation string is the name to include literally
#   in the URL after the "input directory" name.
# * Policy: If not none, include this string as handling policy
#   within the manifest.
# * Encryption key name: If not None, encrypt the input using
#   the named key.

LogBackupUnitInputList = []

# Include old (rotated) default syslog files, where serial number
# was already appended. Accept also the compressed variants.
LogBackupUnitInputList.append(('[TmpDir]/log', '^([a-z.-]+)\\.(?P<oldserial>[0-9]+)(?:\\.(?P<compress>gz))?$', None, None, None))
